{% extends "layout.twig" %}
{% block content %}

    <div class="card mb-4">
        <div class="card-header">
            <div class="row">
                <div class="col-9">
                    <h3 class="card-title">Статьи</h3>
                </div>
                <div class="col-3">
                    <a href="/admin/article/add"  class="btn btn-success">
                        Добавить статью  <i class="bi bi-plus"></i>
                    </a>
                </div>
            </div>



        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Заголовок</th>
                    <th>Обложка</th>
                    <th style="width: 40px">Действия</th>
                </tr>
                </thead>
                <tbody>
                {% for article in articles %}
                <tr class="align-middle">
                    <td>{{ article.id}}</td>
                    <td>{{ article.title}}</td>
                    <td>
                        <div class="col p-2">
                            <img class="img-fluid " src="/{{ article.image}}" style="width: 200px" alt="Article Image">
                        </div>
                    </td>
                    <td>
                        <div class="btn-group mb-2" role="group" aria-label="Basic mixed styles example">
                            <a href="/admin/article/{{ article.id}}/edit"  class="btn btn-success">
                                <i class="bi bi-pencil-fill"></i>
                            </a>
                            <a href="/admin/article/{{ article.id}}/delete"  class="btn btn-danger">
                                <i class="bi bi-trash3"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer clearfix">
            <ul class="pagination pagination-sm m-0 float-end">
                <li class="page-item"> <a class="page-link" href="#">«</a> </li>
                <li class="page-item"> <a class="page-link" href="#">1</a> </li>
                <li class="page-item"> <a class="page-link" href="#">2</a> </li>
                <li class="page-item"> <a class="page-link" href="#">3</a> </li>
                <li class="page-item"> <a class="page-link" href="#">»</a> </li>
            </ul>
        </div>
    </div>
    <!-- /.card -->
{% endblock %}